<div class="col-xs-12 post">
  <% unless post.user.nil? %>
    <div class="col-xs-5" style="font-weight:bold;"><%= post.user.username %></div>
  <% end %>
  <%# Timestamp & Actions %>
  <div class="col-xs-7" style="text-align:right;">
    <%= time_ago_in_words(post.created_at) %> ago
    <a href="/board/edit/<%= post.id %>?page_id=<%=params[:page_id]%>"><span class="glyphicon glyphicon-pencil"/></a>
  </div>
  
  <%# Body %>
  <div class="col-xs-12 post-body"><%=raw post.body.gsub(/\n/, '<br/>') %></div>
  
  <%# Reply %>
  <form action="/reply/create/<%= post.id %>" class="col-xs-12">
    <div class="form-group col-xs-10" style="padding-left:0px;margin:0px;">
      <label class="sr-only" for="body">Reply</label>
      <input type="text" name="body" class="form-control" placeholder="댓글">
    </div>
    <button type="submit" class="btn btn-default col-xs-2">등록</button>
  </form>
  <% post.replies.each do |reply| %>
    <%= render partial: "board/reply", :locals => {:reply => reply} %>
  <% end %>
</div>
<style>
  .post {
    padding : 15px 5px;
  }
  .post > div > a > span {
    padding : 5px;
    border : 1px solid rgb(150,150,150);
    border-radius : 2px;
    color : black;
  }
  .post-body {
    margin : 15px 0px;
  }
</style>