<div class="row">
  <%# Create User %>
  <% if flash[:create_user] == true %>
    <%= render :partial => "layouts/flash", :locals => {:offset => 3, :size => 6} %>
  <% end %>
  <div class="col-md-offset-3 col-md-6 well shadow" style="padding:0px;margin-bottom:-4px;">
      <center>
        <h4>User Modify</h4>
      </center>
    </div>
  <form class="col-md-offset-3 col-md-6 well form-horizontal" action="/admin/modify_user_do" method="POST">
    <input type="hidden" name="id" value="<%=@user.id%>" />
    <%# Username %>
    <div class="form-group">
      <label class="col-md-2" for="new_username" style="margin-top:5px;">Username</label>
      <div class="col-md-10">
        <input type="text" name="new_username" class="form-control" placeholder="<%=@user.username%>">
      </div>
    </div>
    <%# Password %>
    <div class="form-group">
      <label class="col-md-2" for="password" style="margin-top:5px;">Password</label>
      <div class="col-md-10">
        <input type="password" name="password" class="form-control" placeholder="Password">
      </div>
    </div>
    <%# Name %>
    <div class="form-group">
      <label class="col-md-2" for="new_name" style="margin-top:5px;">Name</label>
      <div class="col-md-10">
        <input type="text" name="new_name" class="form-control" placeholder="<%=@user.name%>">
      </div>
    </div>
    <%# Email %>
    <div class="form-group">
      <label class="col-md-2" for="new_email" style="margin-top:5px;">Email</label>
      <div class="col-md-10">
        <input type="text" name="new_email" class="form-control" placeholder="<%=@user.email%>">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Modify User</button>
      </div>
    </div>  
  </form>
</div>