<div class="col-md-5">
  <div class="col-md-12 well" style="padding:0px;">
    <div class="col-md-12 shadow" style="padding:0px;">
      <center>
        <h4>Schedules</h4>
      </center>
    </div>
    <table class="table" style="margin-bottom:0px">
      <thead>
        <th style="text-align:center">날짜</th>
        <th style="text-align:center">내용</th>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <%= render partial: "schedule/event_preview", :locals => { :event => event } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="col-md-7" style="padding:0px 0px 15px">
  <%= render :partial => "layouts/flash", :locals => {:offset => 0, :size => 12} %>
  <% unless @event.nil? %>
    <div class="col-md-12 well">
      <h5 style="text-align:right;margin:0">등록일 : <%= @event.created_at.strftime("%F") %></h5>
      <center><h3 class="col-md-12" style="font-weight:bold;text-align:center"><%= @event.title %></h3></center>
      <center><h5 class="col-md-12" style="font-weight:bold;text-align:center"><%= @event.start.strftime("%F %H:%M").gsub(/\-/,'.') + "~" + @event.finish.strftime("%F %H:%M").gsub(/\-/,'.') %></h5></center>
      <% unless @event.body.nil? %>
        <div class="col-md-12" style="border:1px solid white"><%=raw @event.body.gsub(/\n/, '<br/>') %></div>
      <% end %>
      <% user = User.find_by_id(session[:user_id]) %>
      <% if !user.nil? and user.is_admin %>
        <a href="/admin/event/edit/<%= @event.id %>" class="pull-right btn btn-warning" style="margin-top:19px;">Edit</a>
        <a href="/admin/event/remove/<%= @event.id %>" class="pull-right btn btn-danger" style="margin-top:19px;margin-right:19px;">Remove</a>
      <% end %>
    </div>
  <% else %>
    <div class="col-md-12 well" style="font-weight:bold;">
      Schedule Overview
      강의 계획<br>
      9/1 Course Intro<br>
      9/8 Overview (chap 1)<br>
      9/15 Lexical Elements, Operators, and the C system (chap 2)<br>
      9/22 Fundamental Data Types (chap 3)<br>
      9/29 No class (추석)<br>
      10/6 Flow of Control (chap 4)<br>
      10/13 Functions (chap 5)<br>
      10/20 Arrays, Pointers, and Strings (chap 6)<br>
      10/27 Bitwise Operators and Enumeration Types (chap 7), Preprocessor (chap 8)<br>
      11/3 No class (출장)<br>
      11/10 Structures and Unions (chap 9)<br>
      11/17 Function Pointers and Table Lookup (chap 9)<br>
      11/24 Structures and List Processing (chap 10)<br>
      12/1 Input/Output and the Operating System (chap 11)<br>
      12/8 Moving from C to C++ (chap 12)<br>
      <br>
      실습 계획<br>
      <br>
      9/3 Linux 계정 만들기, cloud 설명 (아주 간단한 프로그램을 작성하고 compile)<br>
      9/10 Unix, Linux, C Shell (Compiler, Text Editor, IO redirection)<br>
      9/17 TBA<br>
      <br>
      교재<br>
      A Book on C, Kelley and Pohl, 4th edition, Addison Wesley.<br>
    </div>
  <% end %>
</div>
