<!DOCTYPE html>
<html>
  
<%# head %>
<head>
  <title>Programming Practice 2015</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanumgothic.css"></link>
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if detect_browser == "mobile" %>
    <meta name="viewport" content="width=device-width, user-scalable=no">
  <% end %>
</head>
<%# navbar %>
<%= render partial: "layouts/navbar" %>

<%# body %>
<body style="background-color:rgb(70,70,70);font-family:'Nanum Gothic', sans-serif;">
  <div class="container" style="padding-top:70px;">
    <%= yield %>
  </div>
</body>
</html>
<style>
  h1, h2, h3, h4, h5, h6, div, li, span, a>span, td, .navbar-default .navbar-nav>li>a {
    color:rgb(70,70,70);
  }
  a>h1, a>h2, a>h3, a>h4, a>h5, a>h6 {
    color:rgb(100,150,250);
  }
  tr.bg-primary>td, tr.bg-primary>td>a {
    color:white;
  }
  div.bg-primary>div>a, div.bg-primary>div {
    color:white;
  }
  div.info>div>a, div.info>div {
    color:white;
  }
  div.info {
    background-color:#888;
    font-weight:bold;
  }
  .navbar-default .navbar-brand {
    color:rgb(70,70,70);
    font-weight:bold;
  }
  .well, .alert {
    border-radius:0px;
    border: 1px solid rgba(100, 100, 100, .4);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  }
  .shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    margin-bottom:4px;
    z-index:2;
  }
  .btn {
    border-radius:0px;
  }
  h3, h4 {
    margin:0px;
    padding:10px 0px;
  }
  .main-sidebar {
    padding:0px;
  }
  .center-middle {
    text-align:center;
    vertical-align:middle !important;
  }
  .schedule_table_row:hover  {
    background-color:#eee !important;
  }
  .delete_reply {
    cursor:pointer;
    position:absolute;
    right:5px;
    top:0px;
  }
  .post_font {
    font-family: 'Inconsolata', 'Nanum Gothic';
    white-space:pre-wrap;
  }
  .schedule_body {
    margin:10px 0px;
    padding:10px 5px;
    border-top:1px solid #333;
    border-bottom:1px solid #333;
  }
  @media (max-width:992px) {
    .sidebar-wrap {
      padding:0px;
    }
  }
  </style>
