<!DOCTYPE html>
<html>
  
<%# head %>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanumgothic.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<%# navbar %>
<%= render partial: "layouts/navbar" %>

<%# body %>
<body style="background-color:rgb(150, 150, 150);font-family:'Nanum Gothic', sans-serif;">
  <div class="container" style="padding-top:70px;">
    <%= yield %>
  </div>
</body>
</html>
